@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* || REST */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* || VARIABLES */
:root {
    /* COLORS */
    --SLATE-900: #1F314F;
    --SLATE-500: #68778D;
    --SLATE-300: #D5E1EF;
    --WHITE: #FFF;

    /* SHADOWS */
    --CARD-SHADOW: 0px 25px 25px 0px hsla(0, 0%, 0%, 0.0477);

    /* TYPOGRAPHY */
    --FF: "Outfit", sans-serif;

    --TEXT-PRESET-1: bold 1.375rem/120% var(--FF);
    --TEXT-PRESET-2: normal .9375rem/140% var(--FF);
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.responsive-image {
    display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    place-content: center;
    background-color: var(--SLATE-300);
}

h1 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
}

/* || QR-CARD */
.qr-card {
    width: 320px;
    min-height: 499px;
    background-color: var(--WHITE);
    border-radius: 20px;
    padding: 1rem 1rem 2.5rem 1rem;
    margin: auto 27.5px;
    box-shadow: var(--CARD-SHADOW);
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
}

.qr-card__image {
    overflow: hidden;
    width: 288px;
    height: 288px;
    border-radius: 10px;
    display: grid;
    place-content: center;
}

.qr-card__image img {
    max-width: 288px;
}

.qr-card__title {
    max-width: 256px;
    margin-bottom: 1rem;
    color: var(--SLATE-900);
    font: var(--TEXT-PRESET-1);
}

.qr-code__description {
    max-width: 256px;
    color: var(--SLATE-500);
    font: var(--TEXT-PRESET-2);
}

@media screen and (min-width: 992px) {

    /* || QR-CARD */
    .qr-card {
        margin: auto 35rem;
    }
}